<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Pyramide des âges</title>
  <!-- Libraries -->
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link rel ="stylesheet" href="../Static/style.css" />

</head>
<body>

<!-- Header -->

<header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <div class="container">
              <div class="navbar-header">
                <a class="active" class="nav-link" href="index.html">Pyramide des âges</a>
              </div>
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="About.html">About</a></li>
              <li class="nav-item"><a class="nav-link" href="Data.html">Data</a></li>
              <li class="nav-item"><a class="nav-link" href="Contact.html">Contact</a></li>
            </ul>
          </div>
        </nav>
</header>

<div id = "banner2">
</div>

<!-- Main -->
<div id = "main_about">
  <h1>Description du projet</h1>


  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>




<!-- Footer -->
<div id = "footer">
  <p> © Ludivine Stofer | Tous droits réservés </p>
</div>


</body>
<script src="Data/data1.js"></script>
<script src="index.js"></script>
</html>
