body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  color: grey;
}

h1 {
  position: relative;
  margin-top: 4%;
  left: 5%;
  font-size: 20pt;
}

h2 {
  position: relative;
  left: 5%;
  font-size: 16pt;
}

h3{
  position: relative;
  left: 5%;
  font-size: 14pt;
}

#banner2 {
  display: block;
  background-color: #dc1f17;
  height: 12px;
  width: 100%;
}

header a {
  color: grey;
}

a:hover {
  color: black;
  text-decoration: none;
}

.navbar-header {
  font-size: 18px;
}

.images {
  height: 300px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#main_contact {
  margin-top: 3%;
}

#Map {
  display: block;
  position: absolute;
  margin-left: 650px;
  margin-top: 10px;
  width: 400px;
  height: 450px;
  background-color: #999;
  border: 1px solid #003580;
}

#contact {
  padding: 30px 5%;
  width: 50%;
  height: 500px;
}

#main_data p{
  padding: 30px 5%;
}

#main_data table {
  margin-left: 5%;
}

#main_about p{
  padding: 30px 5%;
}


#title {
  position: relative;
  width: 100%;
  height: 100px;
}

#year {
  position: relative;
  text-align: left;
  top: 50%;
  left: 70%;
  font-size: 35px;
}

#aff {
  position: relative;
  text-align: left;
  bottom: -50%;
  left: 72%;
  font-size: 16px;
}

.tooltip {
  position: absolute;
  background-color: lightgrey;
  color: grey;
  border-radius: 18px;
  text-align: center;
  padding: 8px;
  margin-top: -20px;
  pointer-events: none;
}

#graphic {
  display: block;
  text-align: center;
}

svg {
  position: relative;
  top: 10%;
}

.female {
  fill : #890883;
}

.male {
  fill : #6473aa;
}


.axis line {
  stroke: grey;
  opacity: 0.5;
}

.axisY line {
  stroke: none;
}

.axis path {
  stroke: none;
}

.axisY path {
  stroke: none;
}

.axis text {
  stroke: grey;
  opacity: 0.6;
}

.axisY text {
  stroke: grey;
  opacity: 0.6;
}

.boutons {
  display: block;
  text-align: center;
  font-size: 10px;
  background-color: white;
  border: none;
  margin-left: 20px;
}

.boutons input {
  color: grey;
  border: none;
  margin-right: 1.8px;
}

#slider {
  width : 100%;
  height: 20px;
}

#slider1 {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 40px;
  width: 650px;
}

#play i{
  position: relative;
  margin-left: 10%;
  bottom: 460px;
  font-size: 40px;
  color: grey;
}

#pause i{
  position: relative;
  margin-left: 10%;
  bottom: 460px;
  font-size: 40px;
  color: grey;
}

#copyright {
  position: absolute;
  bottom: 0;
  font-size: 8pt;
  margin-bottom: 10px;
}

#footer {
  position: absolute;
  text-align: center;
  background-color: #dc1f17;
  height: 40px;
  width: 100%;
}

#footer p {
  margin-top: 1%;
  color: #ffffff;
  position: relative;
  font-size: 8pt;
